<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functiondebugging20200416124704.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8c449441-bbf5-40ee-bfad-62b06adc8ec5/resourcegroups/ozcodfunction1/providers/Microsoft.Web/sites/FunctionDebugging20200416124704</ResourceId>
    <UserName>$FunctionDebugging20200416124704</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functiondebugging20200416124704.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>